<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers">

    <div class="col-md-4 quote--image">
        <hive:cptCntImg uid="{quote.image.uid}"></hive:cptCntImg>
    </div>
    <div class="col-md-8 quote--content">
        <h3><f:format.html>{quote.title}</f:format.html></h3>
        <h4><f:format.html>{quote.subtitle}</f:format.html></h4>
        <p><f:format.html>{quote.detailtext}</f:format.html></p>

        <f:link.action action="show" pluginName="hivequoteshowquote" controller="Quote"
                       pageUid="{listPid}"
                       arguments="{quote : quote}"
                       class="btn quote--btn">
            <f:translate key="LLL:EXT:hive_cpt_cnt_quote/Resources/Private/Language/translation.xlf:tx_hivecptcntquote_domain_model_quote.label.back" />
        </f:link.action>
    </div>
</html>