<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">
        <v:variable.set name="listPid" value="{v:variable.typoscript(path: 'plugin.tx_hivecptcntquote_hivequotelistquote.settings.production.list.pid')}" />

        <div class="quote--show">
            <div class="row">
                <f:render partial="Quote/showQuote" arguments="{quote:quote, listPid:listPid}" />
            </div>
        </div>
    </f:section>
</div>